table.table {
  width: 100%;
  border-collapse: collapse;

  thead tr th {
    font-weight: normal;
    border-bottom: 1px solid $orange-dark;
  }

  th.long-text {
    width: 40%;
  }

  th.date {
    width: 100px;
  }  

  tbody tr:hover {
    background-color: $grey-light;
  }

  td {
    padding: 10px;
  }

  td.actions {
    text-align: center;

    .item {
      margin-left: 5px;
    }
  }
}
