.btn {
  border-radius: 4px;
  padding: 5px 10px;
  color: white;
  text-decoration: none !important;
  border: none;
  cursor: pointer;
  font-size: 16px;

  &.btn-prompt {
    background-color: $green;

    &:hover {
      background-color: $green-dark;      
    }
  }

  &.btn-warning {
    background-color: $orange-lighter;

    &:hover {
      background-color: $orange-light;      
    }
  }

  &.btn-danger {
    background-color: $orange-dark;

    &:hover {
      background-color: $red;      
    }
  }
}
