.form-wrapper {
  padding: 10px 0 10px 10px;
  width: 100%;
  max-width: 600px;

  label {
    display: block;
    margin-bottom: 10px;
  }

  .input {
    margin-bottom: 30px;
    border: 1px solid $orange-light;
    font-size: 16px;
    outline: none;
  }

  .longer-text {
    height: 100px;
    width: 100%;    
  }
}