.header-section {
  font-weight: normal;
  background-color: $orange-dark;
  color: white;
  padding: 10px 10px;
  margin-bottom: 10px;

  .header {
    float: left;
    font-weight: normal;
    color: $white;
    text-decoration: none;
    font-size: 24px;    
  }

  .nav {
    float: right;
  }

  .nav-item {
    color: $white;
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  .btn-danger {
    background-color: $white;
    color: $orange-dark;
    &:hover {
      background-color: $green;
      color: $white;
    }
  }  
}
