.progress-bar-wrapper {
  text-align: center;
  margin: 30px 0;
}

.progress-bar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;

  .progress-step {
    float: left;
    margin-right: 30px;
    position: relative;
    width: 70px;

    &:before {
      content: " ";
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      margin: 0 auto 10px auto;
      border-radius: 25px;
      background-color: $grey-light;
      z-index: 3;
    }

    &:after {
      content: " ";
      position: absolute;
      top: 21px;
      left: -42px;
      display: block;
      width: 53px;
      height: 10px;
      background-color: $grey-light;
      z-index: 2;
    }

    &:first-child:after {
      display: none;
    }

    &.executed:before, &.executed:after {
      background-color: $green; 
    }

    &.inProgress:before {
      background-color: $blue;
    }

    &.inProgress:after {
    background: $green;
    background: -moz-linear-gradient(left, $green 0%, $blue 100%);
    background: -webkit-linear-gradient(left, $green 0%, $blue 100%);
    background: linear-gradient(to right, $green 0%, $blue 100%);
    }    
  }
}